
<h3>Sacar</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col" colspan="4">Saldo: {{saldoTotal}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Valor: {{valorParaSacar}}</th>
        <th><button class="col btn btn-outline-primary" (click)="sacar()">SACAR</button></th>
        <th><button class="col btn btn-outline-danger" (click)="zerar()">ZERAR</button></th>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <button class="col btn btn-outline-success" (click)="adicionarValor(10)">+R$10</button>
    <button class="col btn btn-outline-success" (click)="adicionarValor(20)">+R$20</button>
    <button class="col btn btn-outline-success" (click)="adicionarValor(50)">+R$50</button>
    <button class="col btn btn-outline-success" (click)="adicionarValor(100)">+R$100</button>
  </div>
  <br>

    <h3>Notas devolvidas</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">R$10</th>
          <th scope="col">R$20</th>
          <th scope="col">R$50</th>
          <th scope="col">R$100</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{notasList[3]}}</td>
          <td>{{notasList[2]}}</td>
          <td>{{notasList[1]}}</td>
          <td>{{notasList[0]}}</td>
        </tr>
      </tbody>
    </table>